@use "../styles/typography" as type;

.badge {
  padding: 3px 7px;
  color: var(--vscode-descriptionForeground);
  background: var(--vscode-input-background);
  border-radius: 99px;
  font-size: type.$font-size-xs;
}

.actions {
  display: flex;
  gap: 2px;
}
